<!DOCTYPE html>
<html lang="cn-zh">
<head>
    <meta charset="UTF-8">
    <h1  align="center">浏览用户信息</h1>
    <p align="center"><span><a href="/myapp" >1.返回首页</a></span>|<span><a href="user">2.浏览用户信息</a></span>|<span><a href="user/add_user">3.添加用户信息</a></span></p>
    <title>浏览用户信息</title>


</head>
<body>
    <table align="center" border="1">
        <thead>
        <tr>
            <th>ID号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>电话</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for d in data %}
        <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.age }}</td>
            <td>{{ d.phone }}</td>
            <td>{{ d.addtime }}</td>
            <td><a href="/myapp/user/edit_user/{{d.id}}">编辑</a> <a href="/myapp/user/delete_user/{{ d.id }}">删除</a></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>